.modal {
  position: relative;
  padding: 15px;
  min-width: 340px;
  min-height: 200px;

  &__closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__icon {
    width: 10px;
    height: 10px;
  }

  &__main {
    padding: 10px 0px;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
