@import '../../variables.scss';

.search {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 30px;
    }
  }

  &__city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
  }

  &__buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__button {
    width: max-content !important;
    display: inline;
  }
}

.searchModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  &__title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px;
    color: $textColor;
  }

  &__notFound {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px;
    color: $textColor;
  }
}
