.list {
  // max-width: 50%;
  // margin: 0 auto;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;

  // height: 700px;
  // overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // @media (max-height: 1000px) {
  //   height: 400px;
  // }
}
